{% for item in fw_policy_info %}
set system host-name {{ hostname }}
set system auto-snapshot
set system domain-name lab.com
set system time-zone {{ timezone }}
set system authentication-order tacplus
set system root-authentication plain-text-password {{ root_pass }}
set system name-server 10.1.0.6
set system name-server 10.1.0.8
set system name-server 10.50.1.26
set system tacplus-server 10.50.1.22 secret {{ acs_secret }}
set system tacplus-server 10.50.1.22 source-address {{ trust_gw_ip }}
set system login class READ-ONLY idle-timeout 10
set system login class READ-ONLY permissions view
set system login class READ-ONLY permissions view-configuration
set system login class solarwinds permissions view
set system login class solarwinds permissions view-configuration
set system login class solarwinds allow-commands 
set system login class solarwinds deny-commands
set system login user read-only full-name "ACS read-only template"
set system login user read-only uid 1050
set system login user read-only class READ-ONLY
set system login user remote full-name "ACS Template"
set system login user remote uid 2050
set system login user remote class super-user
set system login user solarwinds uid 2002
set system login user solarwinds class solarwinds
set system services ssh root-login allow
set system services ssh protocol-version v2
set system services ssh max-sessions-per-connection 32
set system services ssh rate-limit 2
set system syslog archive size 100k
set system syslog archive files 3
set system syslog host 10.50.1.33 any any
set system commit synchronize
set system ntp server 10.1.0.6
set system ntp server 10.1.0.8
set system ntp server 10.50.1.26
{% endfor %}